h1	{
	color: #1C4C64;
}
h2  {
	color: #6490A3;
}
body {
	background-color: #FFF8ED;
	margin: 100px;
	font-family: 'Roboto Mono', sans-serif;

}



.big-picture {
	width: 1000px;
	height: 1000px;
	object-fit: cover;
}

.picture-square {
	width: 300px;
	height: 300px;
	object-fit: cover;
}


.center-content {
	text-align: center;
}


div {
	background-color: white;
	padding: 100px;
	margin-top: 80px;
	margin-bottom: 80px;
}


.elements-aligned {
display: flex;
justify-content: space-around;
}
 
.link-aligned {
                display: flex;
                justify-content: space-around;
}
 
 
a{
                color: #007EA7;
}
 
a:hover {
                color: #003249;
}
 
div {
                background: white;
                padding: 80px;
                margin-top: 60px;
                margin-bottom: 60px;
}








